### K2 Planets and Candidates
This dataset is a comprehensive list of all confirmed exoplanets, planetary candidates, and false positives determined on all the transits captured by the K2 mission. See the “Archive Disposition” column for classification.  
Explanation of each column name is in [the dataset](datasets/K2P.csv)

In [1]:
import pandas as pd

In [2]:
url = 'datasets/K2P.csv'
k2_df = pd.read_csv(url, comment='#')
k2_df.head()

,pl_name,hostname,default_flag,disposition,disp_refname,sy_snum,sy_pnum,discoverymethod,disc_year,disc_facility,...,sy_vmagerr2,sy_kmag,sy_kmagerr1,sy_kmagerr2,sy_gaiamag,sy_gaiamagerr1,sy_gaiamagerr2,rowupdate,pl_pubdate,releasedate
0,BD+20 594 b,BD+20 594,0,CONFIRMED,Espinoza et al. 2016,1.0,1.0,Transit,2016.0,K2,...,-0.012,9.368,0.018,-0.018,10.8644,0.000249,-0.000249,2018-04-25,2018-03,2018-02-15
1,BD+20 594 b,BD+20 594,0,CONFIRMED,Espinoza et al. 2016,1.0,1.0,Transit,2016.0,K2,...,-0.012,9.368,0.018,-0.018,10.8644,0.000249,-0.000249,2018-04-25,2016-10,2016-07-28
2,BD+20 594 b,BD+20 594,1,CONFIRMED,Espinoza et al. 2016,1.0,1.0,Transit,2016.0,K2,...,-0.012,9.368,0.018,-0.018,10.8644,0.000249,-0.000249,2018-04-25,2017-03,2018-04-26
3,EPIC 201111557.01,EPIC 201111557,0,CANDIDATE,Livingston et al. 2018,1.0,0.0,Transit,2018.0,K2,...,-0.046,9.220,0.019,-0.019,11.3995,0.001307,-0.001307,2018-02-15,2018-03,2018-02-15
4,EPIC 201111557.01,EPIC 201111557,1,CANDIDATE,Livingston et al. 2018,1.0,0.0,Transit,2018.0,K2,...,-0.046,9.220,0.019,-0.019,11.3995,0.001307,-0.001307,2018-08-02,2018-08,2018-08-02

In [3]:
k2_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3992 entries, 0 to 3991
Data columns (total 94 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   pl_name          3992 non-null   object
 1   hostname         3992 non-null   object
 2   default_flag     3992 non-null   int64
 3   disposition      3992 non-null   object
 4   disp_refname     3992 non-null   object
 5   sy_snum          3975 non-null   float64
 6   sy_pnum          3975 non-null   float64
 7   discoverymethod  3975 non-null   object
 8   disc_year        3975 non-null   float64
 9   disc_facility    3975 non-null   object
 10  soltype          3975 non-null   object
 11  pl_controv_flag  3975 non-null   float64
 12  pl_refname       3975 non-null   object
 13  pl_orbper        3925 non-null   float64
 14  pl_orbpererr1    3040 non-null   float64
 15  pl_orbpererr2    3040 non-null   float64
 16  pl_orbperlim     3925 non-null   float64
 17  pl_orbsmax       812 non-null    float64
 18  pl_orbsmaxerr1   805 non-null    float64
 19  pl_orbsmaxerr2   805 non-null    float64
 20  pl_orbsmaxlim    812 non-null    float64
 21  pl_rade          3149 non-null   float64
 22  pl_radeerr1      2864 non-null   float64
 23  pl_radeerr2      2864 non-null   float64
 24  pl_radelim       3149 non-null   float64
 25  pl_radj          3149 non-null   float64
 26  pl_radjerr1      2864 non-null   float64
 27  pl_radjerr2      2864 non-null   float64
 28  pl_radjlim       3149 non-null   float64
 29  pl_bmasse        428 non-null    float64
 30  pl_bmasseerr1    386 non-null    float64
 31  pl_bmasseerr2    386 non-null    float64
 32  pl_bmasselim     428 non-null    float64
 33  pl_bmassj        428 non-null    float64
 34  pl_bmassjerr1    386 non-null    float64
 35  pl_bmassjerr2    386 non-null    float64
 36  pl_bmassjlim     428 non-null    float64
 37  pl_bmassprov     428 non-null    object
 38  pl_orbeccen      422 non-null    float64
 39  pl_orbeccenerr1  226 non-null    float64
 40  pl_orbeccenerr2  226 non-null    float64
 41  pl_orbeccenlim   422 non-null    float64
 42  pl_insol         618 non-null    float64
 43  pl_insolerr1     447 non-null    float64
 44  pl_insolerr2     447 non-null    float64
 45  pl_insollim      618 non-null    float64
 46  pl_eqt           834 non-null    float64
 47  pl_eqterr1       677 non-null    float64
 48  pl_eqterr2       677 non-null    float64
 49  pl_eqtlim        834 non-null    float64
 50  ttv_flag         3969 non-null   float64
 51  st_refname       3953 non-null   object
 52  st_spectype      433 non-null    object
 53  st_teff          2866 non-null   float64
 54  st_tefferr1      2560 non-null   float64
 55  st_tefferr2      2554 non-null   float64
 56  st_tefflim       2866 non-null   float64
 57  st_rad           3846 non-null   float64
 58  st_raderr1       3222 non-null   float64
 59  st_raderr2       3216 non-null   float64
 60  st_radlim        3846 non-null   float64
 61  st_mass          2089 non-null   float64
 62  st_masserr1      1933 non-null   float64
 63  st_masserr2      1927 non-null   float64
 64  st_masslim       2089 non-null   float64
 65  st_met           1691 non-null   float64
 66  st_meterr1       1660 non-null   float64
 67  st_meterr2       1660 non-null   float64
 68  st_metlim        1691 non-null   float64
 69  st_metratio      1688 non-null   object
 70  st_logg          2336 non-null   float64
 71  st_loggerr1      2130 non-null   float64
 72  st_loggerr2      2130 non-null   float64
 73  st_logglim       2336 non-null   float64
 74  sy_refname       3969 non-null   object
 75  rastr            3969 non-null   object
 76  ra               3969 non-null   float64
 77  decstr           3969 non-null   object
 78  dec              3969 non-null   float64
 79  sy_dist          3844 non-null   float64
 80  sy_disterr1      3714 non-null   float64
 81  sy_disterr2      3714 non-null   float64
 82  sy_vmag          3927 non-null   float64
 83  sy_vmagerr1      3927 non-null   float64
 84  sy_vmagerr2      3927 non-null   float64
 85  sy_kmag          3946 non-null   float64
 86  sy_kmagerr1      3938 non-null   float64
 87  sy_kmagerr2      3938 non-null   float64
 88  sy_gaiamag       3913 non-null   float64
 89  sy_gaiamagerr1   3913 non-null   float64
 90  sy_gaiamagerr2   3913 non-null   float64
 91  rowupdate        3969 non-null   object
 92  pl_pubdate       3969 non-null   object
 93  releasedate      3969 non-null   object
dtypes: float64(75), int64(1), object(18)
memory usage: 2.9+ MB